.category-container {
    margin: 2rem 1rem;
  
    .category-title {
      font-weight: bold;
      font-size: 1.25rem;
      margin-bottom: 1rem;
  
      .arrow {
        color: red;
      }
    }
  
    .product-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1rem;
    }
  }
  