@if (clientProfile()) {
  <div class="profile-header">
      <img class="background-img" [src]="clientProfile()?.background" alt="">
      
      <div class="profile-content">
        <img class="logo-img" [src]="clientProfile()?.logo" alt="">
        <h1>{{ clientProfile()?.name }}</h1>
      </div>
    </div>

    <toolbar [categories]="clientProfile()?.categories"/>
  
  <section class="categories">
    <mat-tab-group>
      <mat-tab label="Entrega">
        <delivery></delivery>
      </mat-tab>
      <mat-tab label="Encomendas">
        <package></package>
      </mat-tab>
    </mat-tab-group>    
  </section>
}
@else {
  <h2>Loading...</h2>
}